.form {
	display: flex;
	border-top: 2px solid #d3d3d3;
	grid-row: 3 / 4;
	grid-column: 2 / 4;
}

.input {
	border: none;
	border-radius: 0;
	width: 80%;
	font-size: 1.2em;
}

input:focus,
textarea:focus,
select:focus {
	outline: none;
}

.sendButton {
	color: #fff !important;
	text-transform: uppercase;
	text-decoration: none;
	/* background: #2979ff; */
	padding: 10px;
	display: inline-block;
	border: none;
	width: 20%;
}

@media (min-width: 320px) and (max-width: 480px) {
	.form {
		grid-column: 1/ 4;
	}
}