<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <style>
        .card {
            margin: 35px;
            width: 220px;
        }
        .card-img-top {
            max-width: 220px;
            min-height: 120px;
        }
        .card-footer {
            padding: .3rem;
        }
        .img-fluid:hover {
            opacity: .3;
        }
    </style>

    <title>Courses</title>
</head>
<body>
<div class="container mt-3">
    <h1 class="title">
        Courses a.k.a Classes
    </h1>
    <div class="row justify-content-center">
        {% for course in courses %}
            <div class="card text-center">
                <img alt="{{ course.name }}" class="card-img-top img-fluid rounded mt-3" src="{{ course.url_image }}" style="max-width: 220px; min-height: 120px; "/>
                <div class="card-body text-center">
                     <p class="card-title" style="font-size: 1.3rem">
                        {{ course.name }}
                    </p>
                </div>
                <div class="card-footer">
                    <a href="./{{ course.id }}" class="btn btn-primary">Go to course</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
</body>
</html>